<main>
    <article class="nav-back">
                    <div style="background-color: green;">
                            <mat-card class="backdiv">
                                    <h1 style="text-align: center;"><b>About Us - We will serve you better</b></h1>
                                    
                            </mat-card>
                    </div>
    </article>

<article class="container margintop">
    <mat-card>
            <div>
                    <p><b>Ovitfleet Wallet</b> is a Multinational semiconductor company with state-of-the-art IC design capabilities.
                         Ovitfleet wallet offers products, including retrieving stolen crypto coins, chips, servers, and cloud
                          solutions, for block chain and artificial intelligence (AI) applications.</p>      
                    ​
                    <p>Founded in 2013 and headquartered in Haidian District, Beijing, Ovitfleet wallet has research and development 
                        centers in Hong Kong, Singapore, and United States. According to Frost & Sullivan, Ovitfleet wallet is among 
                        the world’s top 10 and China’s second largest fabless IC designer.</p>
                    
                   <p> Ovitfleet wallet is focused on computing chips with a vision of realizing even more beautiful digital world.
                        It has design capabilities for different chip processes, including the state-of-the-art 5 nanometer process. 
                        In the blockchain mining area, Ovitfleet wallet has shipped billions of ASICs, accounting for 75% of the global
                         market. 
                         Being one of the world’s few companies with the capability to develop cloud-based AI chips, 
                         Ovitfleet wallet has successfully released four generations of its AI chip. With advanced tensor acceleration
                          for deep learning, Ovitfleet’s wallet AI chips can be used for a wide range of applications such as facial
                           recognition, automatic driving, smart cities, smart governance, smarter security, medical services and more.
                   </p>
                    
            </div>
    </mat-card>
</article>
</main>