<mat-nav-list >
    <!-- Sidebar  -->
      <nav id="sidebar" class="border-success ">
        <ul class="list-unstyled components" >
            <li>
                <a  routerLink='/home' routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-home"></i>Home</a>            
            </li>
            <li>
                <a routerLink="/aboutus" class="glyphicon glyphicon-info-sign" routerLinkActive="active" >About Us</a>
            </li>
            
            <li>
                <a routerLink='/contactus' class="glyphicon glyphicon-eye-open"  routerLinkActive="active" >Quick Contact</a>
            </li>
           
        </ul>
     </nav>
     </mat-nav-list>