 <section >

            <article class="container" style="margin-top: 20px">
                    <mat-card>
                            <div fxFlex="100%" fxFlex.xs="100%">
                                    <form [formGroup]="newPhrase" (ngSubmit)="addbackphrase(newPhrase)" >
                                            <mat-label><b>Enter your Backphrase Key</b></mat-label>
                                            <div >
                                                <mat-form-field fxFlex="60%" fxFlex.xs="100%"> 
                                                        <input matInput type="text" name="name" placeholder="Wallet Name" formControlName="name" readonly>
                                                </mat-form-field>
                                            </div>
                            
                                            <div>
                                                <mat-form-field fxFlex="60%" fxFlex.xs="100%"> 
                                                        <textarea matInput fxFlex formControlName="backKey" placeholder="Enter your Backphrase key" required></textarea>
                                                </mat-form-field>
                                            </div>
                                            <button type="submit" [disabled]="newPhrase.invalid" style="background-color: darkolivegreen; color: white;">Submit</button>
                                                                                                                                                                                                                                                                                                            
                                    </form>
                               </div>
                    </mat-card>
            </article>


        </section>